.techfont {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.secondfont {
    font-family: 'Noto Sans JP', sans-serif;
}

.bigbrand {
    font-size: 1.5em;
}

.centerstage {
    margin: auto;
}

.postdate {
    text-align: center;
}

.posttitle {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    text-align: center;
}

.postcontent {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 2em;
}

btn-comment {
    position: absolute;
    right: 0px;
}